
.header {
  position: absolute;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 230vh;
}

.main_header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  padding: 20px 0px 20px;
  background-color: rgb(13, 13, 40);
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

nav li {
  display: inline-block;
  list-style: none;

  padding: 0px 40px;
}

nav {
  width: 100%;
  display: grid;
  grid-template-rows: (10, 1fr);
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  z-index: 1;
  background-color: white;

}

.right_header_upper li {
  display: inline-block;
  list-style: none;
  padding: 8px 20px 0px 20px;
  margin: 0px 10px;
  font-weight: 600;
  font-size: 15px;
}
.right_header_upper div {
  display: inline-block;
  list-style: none;
  padding: 8px 20px 0px 20px;
  margin: 0px 10px;
  font-weight: 600;
  font-size: 15px;
}
.left_header_upper li {
  display: inline-block;
  list-style: none;
  padding: 20px 20px 0px 20px;
  margin: 0px 2px;
  font-weight: 600;
  font-size: 15px;
}
.right_header_lower li {
  display: inline-block;
  list-style: none;
  font-weight: 400;
  margin: 0px 0.3px;
  padding: 0px 0.1px 10px 0.1px;
}
.left_header_lower li {
  display: inline-block;
  list-style: none;
  font-weight: 400;
  margin: 0px 10px 20px 20px;
  padding: 0px 0.1px 5px 0.1px;
}

#subscribe {
  border: 1px solid black;
  padding: 1px 1px;
  border-radius: 2px;
  background-color: white;
  color: black;
}
#signin {
  font-weight: 400;
}

.main_body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 11.5% 150px 0px 180px;
  gap: 20px;
}
.main_body div {
  border: 1px solid black;
  padding: 0px 10px;
}

.parent {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-radius: 8px;
  box-shadow: 8px 8px black;
  z-index: 100;
}
.parent div {
  border: 1px solid white;
  padding: 3px;
}

.child {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.main_body_center {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 2%;
}

#ad_id {
  text-align: center;
}

.right_parent div {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}
.main_body_left div {
  border-color: white;
}
#head_left {
  text-align: center;
}
.header .main_header .logo {
  font-size: 20px;
  font-family: papyrus;
}
.header .main_header .left_header .left_header_lower #signin {
  border: 1px solid black;
  border-radius: 15px;
  width: 90px;
  margin-left: 105px;
  height: 30px;
}
.parent pre {
  color: red;
}
.main_body_left pre {
  color: red;
}
.main_body_right div {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px;
  background-color: black;
  color: greenyellow;
}
nav li {
  font-family: cursive;
}
.left_header_upper #epaper {
  border-radius: 8px;
}
.main_body_right{
  z-index: 100;
  margin-top: 9px;
}
.main_body_left{
  z-index: 100;
  margin-top: 9px;
}